<template>
  <div>
    <h1>You look bored, why don't you find something to do?</h1>
    <md-button v-on:click="GetRandomActivity" class="md-raised">Find something to do!</md-button>
    <div v-if="$data.rndActivity !== undefined" class="activity">
      <h1 class="activity-title">{{ $data.rndActivity.Activity }}</h1>
      <RatingBar :stars="$data.rndActivity.Accessibility" max-stars="5" />
    </div>

  </div>

</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import { MdButton } from 'vue-material/dist/components'
import 'vue-material/dist/vue-material.min.css'
import 'vue-material/dist/theme/default.css'
import ActivityService from "@/service/ActivityService";
import Activity from "@/models/Activity";
import RatingBar from "@/components/RatingBar.vue";

Vue.use(MdButton)
@Component({
  components: {RatingBar}
})
export default class Dashboard extends Vue {
  private activityService = new ActivityService();

  data() {
    return{
      rndActivity: Activity
    }
  }

  GetRandomActivity(): void{
    console.log("Finding...")
    this.activityService.GetRandomActivity().then((rndActivity: Activity) => {
      return this.$data.rndActivity = rndActivity;
    });
  }
}

</script>

<style scoped>

</style>
