<template>
  <div class="rating-bar">
    <div class="stars-container">

    </div>
    <div v-bind:style="{width: this.fullBackSize}" class="full-background">

    </div>
    <div class="empty-background">

    </div>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator";

@Component
export default class Dashboard extends Vue {
  @Prop() private stars!: number
  @Prop() private maxStars!: number
  private starWidth = 172

  get starsClean(): number{
    let starsNormal = 1 - this.stars;

    if (starsNormal > 1){
      starsNormal = 1
    }

    if (starsNormal < 0){
      starsNormal = 0
    }

    return starsNormal * this.maxStars;
  }

  get fullBackSize(): string{
    return this.starWidth * this.starsClean + "px";
  }

}
</script>

<style scoped>
  .rating-bar{
    position: relative;
  }

  .rating-bar > div{
    position: absolute;
    left: 0;
    top: 0;
  }

  .stars-container{
    background-image: url("../assets/star.png");
    background-repeat: repeat-x;
    width: calc(172px * 5);
    height: 160px;
    z-index: 50;
  }

  .full-background{
    background-color: gold;
    /*width: calc(172px * 5);*/
    height: 160px;
    z-index: 20;
  }

  .empty-background{
    background-color: grey;
    width: calc(172px * 5);
    height: 160px;
    z-index: 0;
  }
</style>
